<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
     
    <%- include("./partials/nav.ejs") %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam commodi autem neque modi eaque voluptatum, alias quidem maiores, blanditiis inventore ipsam quas doloribus in, explicabo delectus obcaecati molestiae incidunt natus. </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eligendi tempora quis magni provident, cupiditate architecto! Consequuntur nemo explicabo, odit unde dolores magnam impedit, veritatis quo doloremque vitae ab? Dolor. </p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed voluptate error recusandae magnam? Quidem quia, placeat laudantium ad, odit voluptate quae, tempora ex ullam quis libero consectetur optio quo non. </p>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>